{% extends 'base.html' %}




{% block center_content %}
<div class="content">
  <h1>All Courses</h1>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Actions</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for course in all_courses %}
      <tr>
        <td>{{ course.id }}</td>
        <td>{{ course.title }}</td>
        <td>${{ course.price }}</td>
        <td class="actions-icons">
         {% if user.user_type == 'super_admin' %}
 {% if user.user_type == 'super_admin' %}
            <i class="fas fa-user-check assign-student-icon" title="Assign"
               data-bs-toggle="modal" data-bs-target="#assignStudentModal"
               data-course-id="{{ course.id }}"></i>
        {% endif %}

            <a href="{% url 'delete_course' pk=course.id %}">
                 <i class="fas fa-trash trash-icon" title="Delete">

          </i>
            </a>
            {% endif %}
        {% if user.user_type == 'super_admin' %}
        <a href="{% url 'update_course' pk=course.id %}">
          <i class="fas fa-pencil-alt pencil-icon" title="Update"></i>

            </a>
        {% endif %}

        {% if user.user_type == 'moderator' %}
<a href="{% url 'create_course_update_request' %}?course_id={{ course.id }}&course_title={{ course.title }}&course_price={{ course.price }}">
          <i class="fas fa-pencil-alt pencil-icon" title="Update"></i>
            </a>
        {% endif %}
        </td>
         <td>
             <a href="{% url 'course_detail' pk=course.id %}">
                   <button class="btn btn-primary detail-btn">
        <i class="fas fa-sign-out-alt"></i> Detail
        </button>
             </a>

          </td>
      </tr>
    {% endfor %}

      <!-- Add more rows as needed -->
    </tbody>
  </table>
</div>

<!-- Modal for Assigning Student -->
<!-- Modal for Assigning Student -->
<div class="modal fade" id="assignStudentModal" tabindex="-1" aria-labelledby="assignStudentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="assignStudentModalLabel">Assign Student</h5>
        <p><i id="selectedCourseName"></i></p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
  <div class="modal-body">
    <form method="POST" action="{% url 'assign_course' %}" id="assignStudentForm" data-base-action="{% url 'assign_course' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="studentList" class="form-label">Select Student(s):</label>
            <select class="form-select" id="studentList" name="studentList" multiple required>
                <option value="" selected disabled>Select student(s)</option>
                {% for student in students_list %}
                    <option value="{{ student.id }}">{{ student.username }}</option>
                {% endfor %}
            </select>
        </div>
     <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Assign Student</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </form>
</div>


    </div>
  </div>
</div>



{% endblock %}
