{% extends 'base.html' %}

{% block center_content %}
    <div class="content">
        <h1>All Students</h1>

        <!-- Search form -->
        <form method="get">
            <div class="form-group">
                <label for="searchInput">Search:</label>
                <input type="text" name="q" id="searchInput" class="form-control" placeholder="Enter search term">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    
    <form method="get">
    <div class="form-group">
        <label for="fromAgeInput">From age</label>
        <input type="number" name="from_age" id="fromAgeInput" class="form-control" placeholder="Enter minimum age">

        <label for="toAgeInput">To age</label>
        <input type="number" name="to_age" id="toAgeInput" class="form-control" placeholder="Enter maximum age">
    </div>
    <button type="submit" class="btn btn-primary">Range Search</button>
</form>


        <!-- Table -->
        <table class="table">
            <thead>
                <tr>
                    <th>Student Avatar</th>
                    <th>Student ID</th>
                    <th>Username</th>
                    <th>Full Name</th>
                    <th>Age</th>
                    <th>Actions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for student in all_students %}
                    <tr>
                        <td><img src="{{ student.avatar.url }}" alt="Student Avatar" class="student-avatar"></td>
                        <td>{{ student.id }}</td>
                        <td>{{ student.username }}</td>
                        <td>{{ student.get_full_name }}</td>
                        <td>{{ student.calculate_age }}</td>
                        <td class="actions-icons">
                            <a href="/update_student/{{ student.id }}/">
                                <i class="fas fa-pencil-alt pencil-icon" title="Update"></i>
                            </a>
                            {% if user.user_type == 'super_admin' %}
                                <a href="/delete_student/{{ student.id }}/">
                                    <i class="fas fa-trash trash-icon" title="Delete"></i>
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'student_detail' pk=student.id %}">
                                <button class="btn btn-primary detail-btn">
                                    <i class="fas fa-sign-out-alt"></i> Detail
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                <!-- Add more rows as needed -->
            </tbody>
        </table>
    </div>
{% endblock %}
