{% extends 'base.html' %}



{% block center_content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-body text-center">
            <h2 class="card-title mb-4">Course Details</h2>
              {% if course.thumbnail %}
            <img src="{{ course.thumbnail.url }}" alt="Course Thumbnail" class="img-fluid mb-4">
              {% else %}
              <img style="width: 20%" src="https://cdn-icons-png.flaticon.com/512/3359/3359548.png" alt="Course Thumbnail" class="img-fluid mb-4">
              {% endif %}
            <div class="mb-3">
              <strong>Course Name: {{ course.title }}</strong>
            </div>
            <div class="mb-3">
              <strong>Course Price:</strong>
              <p class="mb-0">${{ course.price }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
