{% extends 'base.html' %}

{% block center_content %}
<div class="content">
  <h1>Create Course</h1>

  <div class="course-form">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="form-group">
        <label for="courseName">Course Name</label>
        <input name="title" type="text" class="form-control" id="courseName" required>
      </div>
      <div class="form-group">
        <label for="thumbnail">Thumbnail</label>
        <input name="thumbnail" type="file" class="form-control" id="thumbnail" accept="image/*" required>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input name="price" type="number" class="form-control" id="price" required>
      </div>
        
      <button type="submit" class="btn btn-primary">Create </button>
        
         {% if form.non_field_errors %}
        <div class="alert alert-danger mt-3" role="alert">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    </form>
  </div>

</div>
{% endblock %}

