{% extends 'base.html' %}

{% block center_content %}
<div class="content">
  <h1>Create Student</h1>

  <div class="student-form">


    <form method="post" action="{% url 'create_new_student' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" id="first_name" name="first_name" required>
        {{ form.first_name.errors }}
    </div>
    <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name" name="last_name" required>
        {{ form.last_name.errors }}
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
        {{ form.username.errors }}
    </div>
     <div class="form-group">
        <label for="birthdate">Birth Date</label>
        <input type="date" class="form-control" id="birthdate" name="birth_date" required>
        {{ form.birth_date.errors }}
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password1" required>
        {{ form.password1.errors }}
    </div>
    <div class="form-group">
        <label for="password2">Confirm Password</label>
        <input type="password" class="form-control" id="password2" name="password2" required>
        {{ form.password2.errors }}
    </div>
    <div class="form-group">
        <label for="avatar">Upload Avatar</label>
        <input type="file" class="form-control" id="avatar" name="avatar" accept="image/*" required>
        {{ form.avatar.errors }}
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    {% if form.non_field_errors %}
        <div class="alert alert-danger mt-3" role="alert">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
</form>


  </div>

</div>
{% endblock %}