{% extends 'base.html' %}

{% block center_content %}
<div class="content">
  <h1>Update Course Request </h1>
<p>Course ID: {{ request.GET.course_id }}</p>

  <div class="course-form">
    <form method="post" enctype="multipart/form-data">
    
        {% csrf_token %}
      <div class="form-group">
        <label for="courseName">Course Name</label>
        <input value="{{ request.GET.course_title }}" name="title" type="text" class="form-control" id="courseName">
      </div>
      <div class="form-group">
        <label for="thumbnail">Thumbnail</label>
        <input value="" name="thumbnail" type="file" class="form-control" id="thumbnail" accept="image/*">
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input value="{{ request.GET.course_price }}" name="price" type="number" class="form-control" id="price">
      </div>
        <input type="hidden" name="course" value="{{ request.GET.course_id }}">

      <button type="submit" class="btn btn-primary">Create </button>

         {% if form.non_field_errors %}
        <div class="alert alert-danger mt-3" role="alert">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    </form>
  </div>

</div>
{% endblock %}

