{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#  <meta charset="UTF-8">#}
{#  <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#  <title>Login</title>#}
{#  <!-- Bootstrap CSS -->#}
{#  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">#}
{#  <style>#}
{#    body {#}
{#      height: 100vh;#}
{#      display: flex;#}
{#      align-items: center;#}
{#      justify-content: center;#}
{#      background-color: #f8f9fa;#}
{#    }#}
{#    .login-container {#}
{#      max-width: 400px;#}
{#      text-align: center;#}
{#      background-color: #fff;#}
{#      padding: 20px;#}
{#      border-radius: 8px;#}
{#      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);#}
{#    }#}
{#    .login-form {#}
{#      margin-top: 20px;#}
{#    }#}
{#  </style>#}
{#</head>#}
{#<body>#}
{##}
{#<div class="container login-container">#}
{#  <h2>Login</h2>#}
{##}
{#  <form class="login-form">#}
{#    <div class="mb-3">#}
{#      <input type="text" class="form-control" id="username" placeholder="Username" required>#}
{#    </div>#}
{#    <div class="mb-3">#}
{#      <input type="password" class="form-control" id="password" placeholder="Password" required>#}
{#    </div>#}
{#    <button type="submit" class="btn btn-primary">Login</button>#}
{#  </form>#}
{##}
{#  <p class="mt-3">Don't have an account? <a href="signup.html">Sign up</a></p>#}
{#</div>#}
{##}
{#<!-- Bootstrap JS and Popper.js -->#}
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>#}
{##}
{#</body>#}
{#</html>#}



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f8f9fa;
    }
    .login-container {
      max-width: 400px;
      text-align: center;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .login-form {
      margin-top: 20px;
    }
  </style>
</head>
<body>

<div class="container login-container">
  <h2>Login</h2>

{% if user.is_authenticated %}
AUTHENTICATED
    {% else %}
    NOT AUTHENTICATED
{% endif %}

  {% if error_message %}
    <div class="alert alert-danger" role="alert">
      {{ error_message }}
    </div>
  {% endif %}

  <form class="login-form" method="post" action="{% url "authenticate_user" %}">
    {% csrf_token %}
    <div class="mb-3">
      <input type="text" class="form-control" name="username" placeholder="Username" required>
    </div>
    <div class="mb-3">
      <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>

{#  <p class="mt-3">Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>#}
</div>

<!-- Bootstrap JS and Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>

