{% extends 'base.html' %}

{% block center_content %}
<div class="content">
  <h1 class="mb-4">Student Detail</h1>

  <div class="card student-detail">
    <div class="avatar-container">
      <img src="{{ user.avatar.url }}" alt="Avatar" class="card-img-top">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ user.get_full_name }}</h5>
      <p class="card-text"><strong>Username:</strong> student_username</p>
      <p class="card-text"><strong>ID:</strong> {{ user.id }}</p>
      <div class="assigned-courses">

        <!-- Example of assigned courses (dynamic generation) -->


        <!-- Repeat this structure for more assigned courses -->

      </div>
    </div>
  </div>

</div>
{% endblock %}