<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <!-- Bootstrap Icons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css" rel="stylesheet">
  <style>
    body {
      padding: 20px;
    }
    .profile-container {
      max-width: 600px;
      margin: auto;
    }
    .profile-image {
      max-width: 200px;
      border-radius: 50%;
    }
    .edit-btn {
      margin-top: 10px;
    }
    .action-btn {
      margin-top: 10px;
      margin-left: auto; /* Align to the right */
    }
    .courses-section {
      margin-top: 20px;
    }
    .course-card {
      margin-bottom: 20px;
    }
  </style>
</head>
<body>

<div class="container profile-container">

<a href="{% url 'profile' request.user.id %}">
        <button class="btn btn-secondary action-btn">
            <i class="fa fa-user"></i>
    <span class="bi bi-box-arrow-right"></span> Profile
  </button>
    </a>
<a href="{% url 'student_view_all_courses' %}">
        <button class="btn btn-primary action-btn">
    <span class="bi bi-box-arrow-right"></span> All courses
  </button>
    </a>
<a href="{% url 'student_wishlist' %}">
        <button class="btn btn-danger action-btn">
    <span class="bi bi-box-arrow-right">
        <i class="fas fa-heart"></i>
    </span>
  </button>
    </a>

 <a style="float: right" href="{% url "auth_logout" %}">
        <button class="btn btn-danger action-btn">
    <span class="bi bi-box-arrow-right"></span> Logout
  </button>
    </a>



  <div class="courses-section">
    <h2>All Courses</h2>

    <div class="row">
        {% for course in all_courses %}
            <div class="col-md-4 course-card">
                <div class="card">
                    {% if course.thumbnail %}
                        <img src="{{ course.thumbnail.url }}" class="card-img-top" alt="Course Thumbnail">
                    {% else %}
                        <img src="https://cdn-icons-png.flaticon.com/512/3359/3359548.png" class="card-img-top" alt="Course Thumbnail">
                    {% endif %}
                   <div class="card-body">
    <h5 class="card-title">{{ course.title }}</h5>
    <p class="card-text"><b>${{ course.price }}</b></p>
              <a href="/add_course_to_wishlist?course_id={{ course.id }}">
                  <button class="btn btn-outline-danger wishlist-btn" data-course-id="{{ course.id }}">
                    <i class="fas fa-heart"></i> Add to Wishlist
                </button>
              </a>

</div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</div>


<!-- Bootstrap JS and Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

</body>
</html>
