<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <!-- Bootstrap Icons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css" rel="stylesheet">
  <style>
    body {
      padding: 20px;
    }
    .profile-container {
      max-width: 600px;
      margin: auto;
    }
    .profile-image {
      max-width: 200px;
      border-radius: 50%;
    }
    .edit-btn {
      margin-top: 10px;
    }
    .action-btn {
      margin-top: 10px;
      margin-left: auto; /* Align to the right */
    }
    .courses-section {
      margin-top: 20px;
    }
    .course-card {
      margin-bottom: 20px;
    }
  </style>
</head>
<body>

<div class="container profile-container">


<a href="{% url 'student_view_all_courses' %}">
        <button class="btn btn-primary action-btn">
    <span class="bi bi-box-arrow-right"></span> All courses
  </button>
    </a>

<a href="{% url 'student_wishlist' %}">
        <button class="btn btn-danger action-btn">
    <span class="bi bi-box-arrow-right">
        <i class="fas fa-heart"></i>
    </span>
  </button>
    </a>

 <a style="float: right" href="{% url "auth_logout" %}">
        <button class="btn btn-danger action-btn">
    <span class="bi bi-box-arrow-right"></span> Logout
  </button>
    </a>

  <h1>User Profile</h1>

  <div class="card">
    <div class="card-body text-center">
        {% if not user.avatar %}
              <img src="https://img.freepik.com/premium-vector/forbidden-sign-stop-ban-red-circle-symbol_53562-20199.jpg" alt="Profile Image" class="profile-image img-fluid">
    {% else %}
      <img src="{{ user.avatar.url }}" alt="Profile Image" class="profile-image img-fluid">
        {% endif %}
      <h3 class="card-title">{{ user.first_name }} {{ user.last_name }}</h3>
      <p class="card-text">@{{ user.username }}</p>

      <button class="btn btn-primary edit-btn" data-bs-toggle="modal" data-bs-target="#editUsernameModal">
        Edit Username
      </button>
      <button class="btn btn-primary edit-btn" data-bs-toggle="modal" data-bs-target="#changeAvatarModal">
        Change Avatar
      </button>
      <button class="btn btn-primary edit-btn" data-bs-toggle="modal" data-bs-target="#updatePasswordModal">
        Update Password
      </button>
    </div>
  </div>

  <div class="courses-section">
    <h2>Assigned Courses</h2>
      <hr style="border: 2px solid ">
    <div class="row">
        {% for assigned_course in assigned_courses %}
      <div class="col-md-4 course-card">
        <div class="card">
            {% if assigned_course.thumbnail %}
          <img src="{{ assigned_course.thumbnail.url }}" class="card-img-top" alt="Course Thumbnail">
            {% else %}
            <img src="https://cdn-icons-png.flaticon.com/512/3359/3359548.png" class="card-img-top" alt="Course Thumbnail">
            {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ assigned_course.title }}</h5>
            <p class="card-text">${{ assigned_course.price }}</p>
          </div>
        </div>
      </div>
        {% endfor %}



      <!-- Add more course cards as needed -->

    </div>
  </div>
</div>

<!-- Edit Username Modal -->
<div class="modal fade" id="editUsernameModal" tabindex="-1" aria-labelledby="editUsernameModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editUsernameModalLabel">Edit Username</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST", action="{% url 'edit_username' %}">
            {% csrf_token %}
          <div class="mb-3">
            <label for="newUsername" class="form-label">New Username</label>
            <input value="{{ user.username }}" name="username" type="text" class="form-control" id="newUsername" required>
          </div>
          <button type="submit" class="btn btn-primary">Update Username</button>
        </form>
      </div>
    </div>
  </div>
</div>



<!-- Update Password Modal -->
<!-- Update Avatar Modal -->
<div class="modal fade" id="changeAvatarModal" tabindex="-1" aria-labelledby="changeAvatarModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changeAvatarModalLabel">Change Avatar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'change_avatar' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            <label for="newAvatar" class="form-label">New Avatar upload</label>
            <input type="file" class="form-control" id="newAvatar" name="avatar" required>
          </div>
          <button type="submit" class="btn btn-primary">Change Avatar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Update Password Modal -->
<div class="modal fade" id="updatePasswordModal" tabindex="-1" aria-labelledby="updatePasswordModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updatePasswordModalLabel">Update Password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'update_password' %}">
          {% csrf_token %}
          <div class="mb-3">
            <label for="currentPassword" class="form-label">Current Password</label>
            <input type="password" class="form-control" id="currentPassword" name="current_password" required>
          </div>
          <div class="mb-3">
            <label for="newPassword" class="form-label">New Password</label>
            <input type="password" class="form-control" id="newPassword" name="new_password" required>
          </div>
          <button type="submit" class="btn btn-primary">Update Password</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Username Modal -->
<div class="modal fade" id="editUsernameModal" tabindex="-1" aria-labelledby="editUsernameModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editUsernameModalLabel">Edit Username</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'edit_username' %}">
          {% csrf_token %}
          <div class="mb-3">
            <label for="newUsername" class="form-label">New Username</label>
            <input type="text" class="form-control" id="newUsername" name="new_username" required>
          </div>
          <button type="submit" class="btn btn-primary">Update Username</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap JS and Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

</body>
</html>
