{% extends 'base.html' %}

{% block center_content %}
<div class="content">
  <h1>Update Requests</h1>
      <div>

          <a href="?status=awaiting">
        <span class="status-badge awaiting">Awaiting</span>
          </a>
          <a href="?status=approved">
        <span class="status-badge approved">Approved</span>
          </a>
          <a href="?status=rejected">
        <span class="status-badge rejected">Rejected</span>
          </a>
    </div>

  <table class="table">
    <thead>
      <tr>
        <th>Request ID</th>
        <th>Course ID</th>
        <th>Course Title</th>
        <th>Course Price</th>
        <th>Course Thumbnail</th>
        <th></th>

      </tr>
    </thead>
    <tbody>
    {% for update_request in all_update_requests %}
      <tr>
        <td>{{ update_request.id }}</td>
        <td>{{ update_request.course.id }}</td>
        <td>{{ update_request.title }}</td>
      {% if update_request.price %}
        <td>${{ update_request.price }}</td>
      {% else %}
      <td>Not suggested</td>
      {% endif %}
          {% if update_request.thumbnail %}
        <td class="course-thumbnail-table">
            <img style="max-width: 50%;" src="{{ update_request.thumbnail.url }}" alt="">
        </td>
          {% else %}
          <td>Not suggested</td>
          {% endif %}

      {% if request.GET.status == 'awaiting' %}
        <td class="actions-icons">

            <a style="color: green" href="{% url 'approve_update_request' %}?update_request_id={{ update_request.id }}">
                <i class="fa fa-check"></i>
            </a>
            <a style="color: red" href="">
                <i class="fa fa-ban"></i>
            </a>

            {% endif %}
      {% if request.GET.status == 'rejected' %}
      <td class="actions-icons">
          <span class="status-badge rejected">Rejected</span>
            {% endif %}
      {% if request.GET.status == 'approved' %}
      <td class="actions-icons">
          <span class="status-badge approved">Approved</span>
            {% endif %}

        </td>

      </tr>
    {% endfor %}

      <!-- Add more rows as needed -->
    </tbody>
  </table>
</div>

{% endblock %}