{% extends 'base.html' %}

{% block center_content %}
<div class="content">
  <h1>Welcome to ArgosEdu</h1>

  <!-- Stats Cards -->
  <div class="row">
    <div class="col-md-4">
      <div class="stats-card">
        <div class="stats-title"><i class="fas fa-graduation-cap"></i> Total Courses</div>
        <div class="stats-number">{{ total_courses }}</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="stats-card">
        <div class="stats-title"><i class="fas fa-users"></i> Total Students</div>
        <div class="stats-number">{{ total_students }}</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="stats-card">
        <div class="stats-title"><i class="fas fa-chalkboard-teacher"></i> Students no Courses</div>
        <div class="stats-number">{{ students_without_assigned_courses }}</div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

