<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to ArgosEdu</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: relative;
    }
    .welcome-container {
      max-width: 600px;
    }
    .welcome-text {
      font-size: 2rem;
      margin-bottom: 20px;
    }
    .logo {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 10px;
    }
    .logo img {
      max-width: 50px;
      border-radius: 50%;
    }
    .developer-text {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 10px;
    }
  </style>
</head>
<body>

<div class="container welcome-container">
  <div class="welcome-text">
    Welcome to ArgosEdu
  </div>

  <a href="{% url 'login_page' %}" class="btn btn-primary">Login</a>
</div>

<div class="logo">
  <img src="https://placekitten.com/50/50" alt="Logo">
</div>

<div class="developer-text">
  Developed by: Azizbek Gulomov
</div>

<!-- Bootstrap JS and Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
